<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:ebx-schemas:module_2.4"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="urn:ebx-schemas:module_2.4 http://schema.orchestranetworks.com/module_2.4.xsd http://www.w3.org/XML/1998/namespace http://www.w3.org/2001/xml.xsd">

	<name>cris-training</name>
	<publicPath>cris-training</publicPath>

	<services>
	</services>

	<beans>
	<bean
			className="com.bct.common.utilities.triggers.GetWorkflowInitiatorID">
			<documentation xml:lang="en-US">
				<label>Get Workflow Intiator ID</label>
			</documentation>
			<properties>
				<property name="wfInstanceCreator" output="true">
					<documentation xml:lang="en-US">
						<label>Workflow initiator id</label>
						<description>This will the return the name of the user who
							initiated this particular workflow.
						</description>
					</documentation>
				</property>
			</properties>
		</bean>
	
	</beans>
</module>
